 <div class="bg-gray-900 px-5 py-3 sticky top-0 flex items-center justify-between z-30">
      <div>
        <%= link_to root_path, class: "inline-flex items-center lg:mx-auto" do %>
          <svg class="w-8" viewBox="0 0 25 25" stroke-linejoin="round" stroke-width="2" color="white" stroke-linecap="round" stroke-miterlimit="10" stroke="currentColor" fill="none">
            <rect x="3" y="1" width="7" height="12"></rect>
            <rect x="3" y="17" width="7" height="6"></rect>
            <rect x="14" y="1" width="7" height="6"></rect>
            <rect x="14" y="11" width="7" height="12"></rect>
          </svg>
          <span class="ml-2 text-xl font-bold tracking-wide text-gray-100 uppercase">We share</span>
        <% end %>
      </div>

      <div class="flex items-center space-x-5">
        <p class="font-medium text-white hover:text-gray-200"><%= link_to "#{current_user.username}", current_user %></p>
        <div class="flex relative">
          <span class="rounded-full absolute bg-red-600 text-white badge">3</span>
          <i class="fas fa-bell text-lg text-white"></i>
        </div>
        <button class="px-3 py-1 bg-red-500 rounded-sm text-white"><%= link_to 'logout', destroy_user_session_path, method: :delete %></button>
      </div>
  </div>