<div class="w-full h-screen flex flex-col">
  <%= render 'tweets/navbar' %>
  
  <div class="px-5 pt-3 pb-10 w-full bg-gray-100 space-x-10 flex-grow flex justify-center">
    <%= render 'tweets/feed' %>    
    
    <%= render 'tweets/rightside' %>
  </div>
</div>