.profiler-result {
    display: none;
}

.alert {
    color: red
}

.notice {
    color: green
}

.users::-webkit-scrollbar {
    display: none;
}

#tweet_content, #content {
    resize: none
}

.badge {
    width: fit-content;
    font-size: 10px;
    top: -10px;
    right: -8px;
    padding: 2px 4px;
    border-radius: 50%;
}

